@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 727px */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}
.header__container {
	background: #000000;
	backdrop-filter: blur(2px);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
}
.header__content {
	display: flex;
	align-items: center;
	gap: 62px;
}
.header__logo {
	position: relative;
}

.header__logo h1 {
	color: #fff;
	border: 1px solid #fff;
	line-height: 120%;
	font-size: 19px;
	padding: 3px 4.55px 2px 4.55px;
	display: flex;
	flex-direction: column;

	font-weight: 400;

	border-radius: 2px;
}
.header__logo h1 span {
	display: block;
	text-align: center;
}
.header__navigation ul {
	display: flex;
	gap: 58px;
}
.header__navigation ul li a.header__active {
	color: #f9804b;
}
.header__navigation ul li a {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #ffffff;
	transition: 0.5s all;
}
.header__navigation ul li a:hover {
	color: #f9804b;
	text-decoration: underline;
}
.bamboo {
	position: absolute;
	top: 25px;
	left: 11px;
}
.design a {
	color: #fff;
}
.design a:hover {
	color: #f9804b;
}

/*  */
.section__1 {
	background-image: url(../../assets/images/GiantPanda.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 700px;
}
.section__2 {
	position: relative;
}
.watch {
	position: relative;
	/* height: 100vh; */
}

.ellipse {
	width: 465px;
	height: 465px;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	left: calc(50% - 465px / 2 + 239.5px);
	top: 12px;
	z-index: 0;
}
.watch__text {
	z-index: 10;
}
.watch__title {
	font-style: normal;
	font-weight: 700;
	font-size: 106.496px;
	line-height: 75%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	position: absolute;
	top: 86px;
	left: calc(50% - 500.31px / 2 + 340.15px);
}
.watch__title span {
	display: block;
}
.favourite {
	color: #ffee2e;
}
.watch__btn {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	text-align: center;
	text-transform: uppercase;

	color: #ffffff;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 25px;
	border: none;
	position: absolute;
	width: 298px;
	height: 54px;
	left: calc(50% - 298px / 2 + 332px);
	top: 546px;
}

/*  */

.backstage {
	display: flex;
	/* align-items: center; */
	gap: 87px;
	justify-content: space-between;
	margin: 140px 0 180px 0;
}
.backstage__text h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	/* or 58px */

	color: #333b41;
}
.backstage__found {
	padding: 20px 0 54px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	/* or 21px */

	color: #333b41;
}
.backstage__work {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */

	color: #333b41;
	padding-bottom: 34px;
}
.backstage__goal {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: #333b41;
}

/*  */
/*  */
/*  */
/*  */
.animals__card-info {
	padding: 3px 11px 10px 14px;
}
.animals__card-text h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-transform: uppercase;
	color: #000000;
}
.animals__card-text p {
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 110%;
	color: #000000;
}
.animals__card-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.animals__cards {
	display: grid;
	column-gap: 30px;
	row-gap: 20px;
	grid-template-columns: auto auto auto;
	width: 1160px;
}
.animals {
	padding-bottom: 100px;
	position: relative;
}
.animals__card {
	border-radius: 5px;
	border: 2px solid #f9804b;
}
.animals__card-button {
	text-align: center;
}
.animals__card-button button {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #fe9013;
	border-radius: 25px;
	width: 298px;
	height: 54px;
	border-radius: 25px;
	border: none;
}

.arrow__left-ellipse,
.arrow__right-ellipse {
	width: 62px;
	height: 62px;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrow__left-ellipse a i,
.arrow__right-ellipse a i {
	color: #ffffff;

	width: 16px;
}
.animals__scroll {
	display: flex;
	/* justify-content: space-between; */
	gap: 20px;
	align-items: center;

	width: 1324px;
	margin: 0 auto;
	margin-bottom: 76px;
}

.flower_foto1 {
	position: absolute;
	right: 0;
	top: -128px;
}
.flower_foto2 {
	position: absolute;
	bottom: 0;
	left: 0;
}
.flower_foto3 {
	position: absolute;
	right: 0;
	bottom: 0;
}
/*  */
/*  */
/*  */

.feed {
	background: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	padding: 69px 220px 100px 220px;
}
.pick {
	background: rgba(253, 253, 255, 0.52);
	backdrop-filter: blur(2px);
	/* Note: backdrop-filter has minimal browser support */
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 41px 0 0 0;
}
.pick__work {
	background: rgba(253, 253, 255, 0.52);
	backdrop-filter: blur(2px);
	/* Note: backdrop-filter has minimal browser support */

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.pick h2 {
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	color: #fe9013;
	font-style: normal;
	font-weight: 400;
}
.pick__text h3 {
	font-size: 24px;
	line-height: 120%;
	color: #333b41;
	padding: 30px 0 40px 0;
	font-weight: 400;
	padding-left: 99px;
}
.pick__text h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #333b41;
	padding-left: 99px;
}
.pick__text p {
	font-size: 16px;
	line-height: 130%;
	color: #333b41;
	padding: 10px 198px 60px 99px;
}
.pick__work h3 {
	font-size: 36px;
	line-height: 130%;
	/* identical to box height, or 47px */
	padding-bottom: 40px;
	color: #333b41;
	text-align: center;
	font-style: normal;
}
.pick__text a {
	color: inherit;
	border-bottom: 1px solid #fe9013;
	padding-bottom: 4px;
}
.pick__process {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
	width: 764px;
	margin: 0 auto;
}
.pick__img1 {
	background: #ffffff;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 168px;
	border: 1px solid #fe9013;
}

.pick__img2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border-radius: 5px;
	width: 168px;
	height: 168px;
	border: 1px solid #fe9013;
}
.pick__img3 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border-radius: 5px;
	width: 168px;
	height: 168px;
	border: 1px solid #fe9013;
}
.pick__box {
	width: 168px;
	/* height: 168px; */
}
.pick__box p {
	font-size: 16px;
	line-height: 140%;
	/* or 22px */
	width: 168px;
	color: #333b41;
	padding-top: 30px;
}
.pick__button {
	text-align: center;
}
.pick__button button {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #fe9013;
	border-radius: 25px;
	width: 298px;
	/* height: 54px; */
	padding: 15px 0;
	border-radius: 25px;
	border: none;
	margin-top: 60px;
	margin-bottom: 60px;
}

/*  */
/*  */
/*  */
.testimonials__boxs {
	display: flex;
	gap: 29px;
}
.testimonials__title {
	padding: 140px 0 50px 0;
	text-align: center;
	font-size: 36px;
	line-height: 130%;

	color: #333b41;
}
.user__box {
	background: #f1f3f2;
	border-radius: 20px;
	padding: 15px 15px 19px 16px;
}
.user__data {
	display: flex;
	gap: 10px;
	align-items: center;
	padding-bottom: 10px;
}
.user__info h4 {
	font-size: 16px;
	line-height: 120%;
	color: #000000;
}
.user__info p {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #bdbdbd;
}
.line__scroll {
	width: 599px;
	height: 8px;
	background: #f5f7f6;
	margin: 22px 0 32px 280px;
}
.line {
	width: 115px;
	height: 8px;
	background: #fe9013;
	border-radius: 5px;
}
.testimonials__button button {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */
	width: 298px;
	height: 54px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 5px;
	border: none;
	color: #ffffff;
	margin-bottom: 180px;
}
.leav {
	position: absolute;
	bottom: -105px;
	right: 0;
}
.testimonials {
	position: relative;
}

.footer__logo {
	position: relative;
}

.footer__logo h1 {
	color: #fff;
	border: 1px solid #fff;
	line-height: 120%;
	font-size: 19px;
	padding: 3px 4.55px 2px 4.55px;
	display: flex;
	flex-direction: column;

	font-weight: 400;

	border-radius: 2px;
}
.footer__logo h1 span {
	display: block;
	text-align: center;
}
footer {
	background: #111115;
	padding: 40px 0 50px 0;
}
.footer__header {
	display: flex;
	justify-content: space-between;
}
.footer__news h2 {
	font-size: 24px;
	line-height: 120%;
	padding-bottom: 15px;
	/* identical to box height, or 29px */

	color: #ffffff;
}
.footer__news input {
	font-size: 16px;
	line-height: 140%;
	padding: 10px;
	color: #bdbdbd;
	outline: none;
	background: transparent;
	border: 0.7px solid #fe9013;
	border-radius: 2px;
}
.footer__news button {
	font-size: 16px;
	line-height: 140%;
	color: #4b9200;
	padding: 12px 40px;
	background: #f1f3f2;
	border: 1px solid #4b9200;
	border-radius: 5px;
	cursor: pointer;
}
.footer__btn a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */
	width: 298px;
	height: 54px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 5px;
	border: none;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 45px;
}
.icon a {
	width: 26px;
	height: 26px;
	background: rgba(196, 196, 196, 0.5);
	border-radius: 50%;
}
.icon p {
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: #ffffff;
}
.icon {
	display: flex;
	gap: 12px;
	align-items: center;
}
.icon1 a {
	padding: 5px 9px;
}
.icon2 a {
	padding: 6px 5px;
}
.icon3 a {
	padding: 5px;
}
.icon4 a {
	padding: 6px 4px 7px 4px;
}
.footer__icons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contributors {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contributors p {
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	/* identical to box height, or 21px */
	font-weight: lighter;
	color: #ffffff;
}
