@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
}
/* header section */
.section__1 {
	background-image: url(../../assets/images/GiantPanda.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -120px;
	width: 100%;
	padding-bottom: 385px;
}
.header__container {
	background: #000000;
	backdrop-filter: blur(2px);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
}
.header__content {
	display: flex;
	align-items: center;
	gap: 62px;
}
.header__logo,
.footer__logo {
	position: relative;
}

.header__logo h1 {
	color: #fff;
	border: 1px solid #fff;
	line-height: 120%;
	font-size: 19px;
	padding: 3px 4.55px 2px 4.55px;
	display: flex;
	flex-direction: column;

	font-weight: 400;

	border-radius: 2px;
}
.header__logo h1 span {
	display: block;
	text-align: center;
}
.header__navigation ul {
	display: flex;
	gap: 58px;
}
.header__navigation ul li {
	list-style-type: none;
}
.header__navigation ul li a.header__active {
	color: #f9804b;
}
.header__navigation ul li a {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #ffffff;
	transition: 0.5s all;
}
.header__navigation ul li a:hover {
	color: #f9804b;
	text-decoration: underline;
}
.header__logo .bamboo,
.footer__logo .bamboo {
	position: absolute;
	top: 25px;
	left: 11px;
}
.design a {
	color: #fff;
}
.design a:hover {
	color: #f9804b;
}
.burger__menu {
	display: flex;
	flex-direction: column;
	gap: 2px;
	display: none;
}
.burger__menu-line {
	width: 18px;
	height: 2px;
	background: #ffffff;
	border-radius: 2px;
}
/* end header section */

/* start donate section */
.donate {
	background: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	padding-bottom: 180px;
}
.donate__help {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: #ffffff;
	padding-top: 40px;
}
.donate__data {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #ffffff;
	padding: 9px 0 47px 0;
}
.donate__information {
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: #fe9013;
	padding-bottom: 59px;
}
/* end donate section */
.pick {
	background: rgba(255, 255, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 40px 67px 62px 92px;
}
.pick h2 {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	color: #fe9013;
	margin-right: 39px;
}
.pick h3 {
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #333b41;
	padding-top: 20px;
}
/* diet  */
.diet {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 62px;
	margin-left: -29px;
}
.diet__info {
	/* display: flex; */
	position: relative;
	padding-top: 48px;
}
/* .diet__amount {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 70px;
} */
.diet__amount h2 {
	font-weight: 500;
	font-size: 72px;
	line-height: 80%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	margin-right: 100px;
}
.diet__info p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #333b41;
	padding-top: 12px;
	padding-right: 101px;
}
.x_icon {
	position: absolute;
	right: 76px;
	top: 73px;
}
/* diet  */

/* progress bar */
.amount p {
	padding-left: 4px;
	padding-top: 43px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: #000000;
}
.progress__bar {
	padding: 15px 0 30px 0;
}
.progress__btns {
	display: flex;
	gap: 120px;
	position: relative;
}
.progress__btns {
	background: #404950;
	border-radius: 2px;
	padding: 4px 30px 5px 26px;
	margin-right: 25px;
}
.progress__btn input {
	appearance: none;
	width: 10px;
	height: 10px;
	background: #ffee2e;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

.progress__btn {
	z-index: 1;
	position: relative;
}
.progress__btn input::after {
	content: url(../../assets/icons/roller-icon.svg);
	position: absolute;
	top: -10px;
	right: -15px;
	visibility: hidden;
	transition: 0.3s ease;
}
.progress__btn input:checked::after {
	visibility: visible;
}
/* .progress__btn input:checked {
	background-color: #4b9200;
} */
.progress__btn input:checked .progress__labels label {
	color: #fe9013;
}

/* .progress__btn img {
	position: absolute;
	top: -11px;
	right: -15px;
}
.progress__btns::after {
	content: '';
	width: 93%;
	margin: 0 auto;
	height: 2px;
	background: #72828e;
	position: absolute;
	top: 13px;
} */
.progress__labels {
	display: flex;
	align-items: center;
	gap: 58px;
	margin-top: 32px;
	margin-right: 22px;
}
.progress__labels label {
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 140%;
	text-transform: uppercase;
	color: #333b41;
	cursor: pointer;
	width: 73px;
	height: 5px;
	letter-spacing: -2px;
	transition: 0.4s linear;
}
.progress__labels label:hover {
	color: #e47209;
}
.progress__line {
	background: #72828e;
	width: 95%;
	height: 2px;
	margin: 0 auto;
	margin-top: -5px;
}
/* progress bar */

/* another amount */
.another__amount {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 32px 0 25px 0;
}
.another__amount input {
	width: 268px;
	height: 54px;
	border: 1px solid #929699;
	border-radius: 2px;
	padding: 16px 17px 16px 9px;
	margin-right: 25px;
}
.another__amount input:focus-visible {
	border-color: #4b9200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.dollar {
	position: absolute;
	left: 602px;
	bottom: 12px;
}
.amount__type {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-right: 38px;
}
.amount__type input {
	border: 2px solid #fe9013;
	width: 16px;
	height: 16px;
	appearance: none;
	border-radius: 50%;
	transition: 0.2s all linear;
	cursor: pointer;
	outline: rgba(75, 146, 0, 1);
}

.amount__type input:checked {
	background-color: rgba(75, 146, 0, 1);
	border: 2px solid rgba(75, 146, 0, 1);
}
.amount__type label {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: #333b41;
}
.amount__type div {
	display: flex;
	gap: 10px;
	align-items: center;
}
.amount__button {
	text-align: center;
	margin: 31px 0;
}
.amount__button button {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 25px;
	width: 298px;
	height: 54px;
	border: none;
	margin-right: 20px;
}
.amount__button button:hover {
	background: #f9804b;
	cursor: pointer;
}
.amount__share {
	text-align: center;
}
.amount__share p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #333b41;
}

.footer__logo h2 {
	color: #fff;
	border: 1px solid #fff;
	line-height: 120%;
	font-size: 19px;
	padding: 0 4.55px 2px 2.55px;
	display: flex;
	flex-direction: column;

	font-weight: 400;

	border-radius: 2px;
}
.footer__logo h2 span {
	display: block;
	text-align: center;
}
footer {
	background: #111115;
	padding: 40px 0 50px 0;
}
.footer__header {
	display: flex;
	justify-content: space-between;
}
.footer__nav {
	margin-left: 202px;
}
.footer__nav ul li a {
	font-weight: 400;
	font-style: normal;
}
.footer__news h2 {
	font-size: 24px;
	line-height: 120%;
	padding-bottom: 11px;
	font-weight: 400;
	/* identical to box height, or 29px */

	color: #ffffff;
}
.footer__news input {
	font-size: 16px;
	line-height: 140%;
	padding: 10px;
	color: #bdbdbd;
	outline: none;
	background: transparent;
	border: 0.7px solid #fe9013;
	border-radius: 2px;
	width: 228px;
}
.footer__news input:focus {
	border-color: #4b9200;
}
.footer__news button {
	font-size: 16px;
	line-height: 140%;
	color: #4b9200;
	padding: 12px 40px;
	background: #f1f3f2;
	border: 1px solid #4b9200;
	border-radius: 5px;
	cursor: pointer;
}
.footer__news button:hover {
	background-color: #4b9200;
	color: #fff;
}
.footer__btn {
	margin-top: 31px;
}
.footer__btn a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */
	width: 298px;
	height: 54px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 5px;
	border: none;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__btn a:hover {
	background: #e47209;
	cursor: pointer;
}
.footer__navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 45px;
}
.icon a {
	width: 26px;
	height: 26px;
	background: rgba(196, 196, 196, 0.5);
	border-radius: 50%;
	display: flex;
	align-items: center;
	gap: 17px;
}
.icon p {
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: #ffffff;
}
.icon {
	display: flex;
	gap: 25px;
	align-items: center;
}
.icon1 a {
	padding: 5px 9px;
}
.icon a:hover {
	background: #4b9200;
}
.icon a:hover p {
	color: #4b9200;
}
.icon2 a {
	padding: 6px 5px;
}
.icon3 a {
	padding: 5px;
}
.icon4 a {
	padding: 6px 4px 7px 4px;
}
.footer__icons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contributors {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contributors p {
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	/* identical to box height, or 21px */
	font-weight: lighter;
	color: #ffffff;
	opacity: 0.5;
}

@media screen and (max-width: 1200px) {
	.section__1 {
		background-size: auto;
		background-position-x: -174px;
		background-position-y: -110px;
	}
	.donate__help {
		width: 80%;
	}
	.container {
		width: 940px;
	}
	.progress__labels {
		gap: 30px;
	}
	.progress__btns {
		gap: 85px;
	}
	.header__navigation ul {
		display: flex;
		gap: 48px;
	}
}

@media screen and (max-width: 1000px) {
	.donate__data {
		padding: 35px 0 47px 0;
	}
	.donate__information {
		padding-bottom: 37px;
	}
	.pick {
		padding: 12px 40px 44px 49px;
	}
	.pick h2 {
		margin-right: 19px;
	}
	.diet__amount h2 {
		margin-right: 78px;
	}
	.diet {
		margin-top: 57px;
		margin-left: -29px;
	}
	.amount {
		padding-left: 15px;
	}
	.progress__btn:last-child {
		display: none;
	}
	.progress__btns {
		gap: 120px;
	}
	.progress__btns {
		background: #404950;
		border-radius: 2px;
		padding: 7px 12px 5px 12px;
		margin-right: 25px;
	}
	.progress__labels label:first-child {
		display: none;
	}
	.progress__labels {
		gap: 58px;
		margin-top: 32px;
		margin-right: -21px;
	}
	.another__amount input {
		padding: 22px 17px 16px 9px;
		margin-right: 9px;
		font-size: 16px;
	}
	.dollar {
		position: absolute;
		left: 535px;
		bottom: 10px;
	}
	.another__amount {
		margin: 32px 0 28px 0;
	}
	.amount__type {
		margin-right: 24px;
	}
	.amount__button button {
		margin-right: 4px;
	}
	.donate {
		padding-bottom: 30px;
	}
	.footer__header {
		gap: 460px;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 980px) {
	.container {
		width: 600px;
	}
	.header {
		padding: 14px 20px;
	}
	.progress__btn:first-child {
		display: none;
	}
	.progress__btn:nth-child(2) {
		display: none;
	}
	.progress__labels label:nth-child(2) {
		display: none;
	}
	.progress__labels label:nth-child(3) {
		display: none;
	}
	.header__navigation,
	.design {
		display: none;
	}
	.burger__menu {
		display: flex;
	}
	.pick {
		padding: 12px 0px 44px 0px;
	}
	.pick h3 {
		text-align: center;
	}
	.footer__icons {
		gap: 18px;
	}
	.footer__navbar {
		margin-top: 71px;
	}
	.header__navigation ul {
		gap: 37px;
	}
	footer {
		padding: 12px 20px;
		position: relative;
	}
	.footer__news {
		display: none;
	}
	.footer__nav {
		display: block;
	}
	.footer__icons p {
		display: none;
	}
	.footer__icons {
		position: absolute;
		right: 20px;
		top: 16px;
	}
	.footer__nav {
		margin-left: 0;
	}
}

@media screen and (max-width: 640px) {
	.header {
		padding: 0px;
	}
	.header__logo h1 {
		border: none;
		padding: 0;
		font-size: 13px;
	}
	.header__logo .bamboo {
		position: absolute;
		top: 17px;
		left: 3px;
	}
	.section__1 {
		padding-bottom: 338px;
		background-position-x: -370px;
		background-position-y: -173px;
	}
	.donate__help {
		font-size: 24px;
		width: 95%;
		padding-top: 29px;
	}
	.donate__data {
		padding: 15px 0 30px 0;
	}
	.donate__information {
		padding-bottom: 29px;
	}
	.pick + h2 {
		margin-right: 0px;
		padding-top: 18px;
	}
	.pick h3 {
		padding-top: 21px;
	}
	.diet__info p {
		padding-left: 12px;
		padding-top: 0;
	}
	.diet__amount h2 {
		padding-bottom: 9px;
	}
	.x_icon {
		position: absolute;
		right: 68px;
		top: 65px;
	}
	.amount {
		padding-left: 0;
	}
	.amount p {
		padding-left: 10px;
		padding-top: 35px;
	}
	.progress__bar {
		padding: 2px 0 25px 0;
	}
	.progress__btns {
		margin-right: 0;
		padding: 7px 12px 4px 35px;
	}
	.diet {
		margin-top: 52px;
		margin-left: -29px;
	}
	.progress__labels {
		margin-left: 15px;
		margin-top: 34px;
	}
	.donate {
		padding-bottom: 46px;
	}
	.pick {
		padding: 12px 0px 30px 0px;
	}
	.pick .pick_f {
		margin-right: 0;
		padding-top: 17px;
	}
	.another__amount {
		margin: 38px 0 28px 0;
	}
	.another__amount input {
		width: 181px;
		height: 44px;
		margin-right: 0;
		padding: 18px 17px 16px 7px;
	}
	.dollar {
		position: absolute;
		left: 370px;
		bottom: 8px;
	}
	.amount__button button {
		margin-right: -2px;
	}
	.footer__btn {
		margin-top: 35px;
	}
}

@media screen and (max-width: 639px) {
	.container {
		width: 300px;
	}
	.donate__information {
		font-size: 24px;
	}
	.pick .pick_f {
		font-size: 24px;
	}
	.pick h3 {
		font-size: 16px;
	}
	.diet__panda img {
		width: 160.15px;
		height: 138.72px;
	}
	.diet__info p {
		font-size: 9.02255px;
		padding-right: 20px;
	}
	.diet__amount h2 {
		font-size: 40px;
		margin-right: 20px;
	}
	.progress__btns {
		gap: 50px;
	}
	.progress__labels label {
		font-size: 17px;
	}
	.progress__labels {
		gap: 10px;
	}
	.footer__logo h1 {
		border: none;
		display: block;
		font-size: 19.0145px;
	}
	.footer__logo h1 span {
		display: inline-block;
	}
	.footer__header {
		justify-content: center;
		align-items: center;
	}
	.footer__icons {
		flex-direction: row;
		top: 80px;
		right: 50%;
		transform: translateX(50%);
	}
	.footer__btn {
		margin-top: 81px;
	}
	.footer__btn a {
		margin: 0 auto;
	}
	.footer__navbar {
		align-items: center;
		flex-direction: column-reverse;
		gap: 30px;
		margin-top: 30px;
	}
	.dollar {
		position: absolute;
		left: 218px;
		bottom: 8px;
	}
	.progress__labels {
		margin-right: 0;
	}
}
@media screen and (max-width: 320px) {
	.section__1 {
		padding-bottom: 190px;
		background-size: 767px 375px, cover;
		background-position: -149px -59px;
	}
	.donate__data {
		padding: 15px 0 23px 0;
	}
	.pick .pick_f {
		margin-right: 0;
		padding-top: 8px;
	}
	.pick h3 {
		padding-top: 12px;
	}
	.diet {
		margin-top: 14px;
		margin-left: 18px;
	}
}
